img{
    width: 300px;
}

.type{
    width: 100px;
    position: relative; 
    height: 20px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: blue;
    margin-left: 70%;
    color: white;
}

.draco{
    width: 200px;
    position: relative; 
    height: 20px;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
    font-weight: bold;

}

.type3{
    width: 470px;
    height: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    align-items: center;
    background-color: orangered;
}

.type2{
    width: 100px;
    position: relative; 
    height: 20px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: red;
    margin-left: 70%;
    color: white;
}

.n06{
    width: 100px;
    position: relative; 
    height: 20px;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(165, 165, 241);
    font-weight: bold;
}

body{
    width: 500px;
    height: 600px;
    border:solid 1px black;
    border-radius: 20px;
    font-weight: bold;
}